body{
	background-color:#B57EDC;
}
#buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn {
	align-items:center;
    background-color: #9932CC; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

